[Desktop Entry]
Type=Application
Name=OpenSource Communicator
Comment=ITooLabs / Megafon PBX compatible VoIP client
Exec=/opt/opensource-communicator/bin/opensource-communicator
Icon=opensource-communicator
Categories=Network;InstantMessaging;Telephony;
Terminal=false
StartupWMClass=opensource-communicator
